# dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/
/build

# local environment files with secrets
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# pnpm
pnpm-workspace.yaml

# OS & Editor
.DS_Store
*.pem
.vscode/
.idea/
